* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}



.home ul li {
    display: flex;
    gap: 15px;
    width: 20px;
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    padding-top: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;


}

.heading img {
    width: 10%;
}

.library {
    min-height: 80vh;
    position: relative;

}

.footer {
    display: flex;
    font-size: 12px;
    color: grey;
    gap: 15px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    display: flex;
    text-decoration: none;
    color: grey;
}

.right {
    margin: 18px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}


.card {
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 147px;
    right: 11px;
    opacity: 1;
    transition: all 1s ease-out;
}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: gray;
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    columns: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;

}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: rgb(50, 95, 80);
    width: 100%;
    padding: 12px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;

}

.sidebar {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    background-color: #252525;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 300px;
}
.sidebar h6{
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0;
}
.sidebar p{
    font-size: 12px;
    color: grey;
    margin: 10px 0;
}
.sidebar button{
    background-color: white;
    border-radius: 21px;
    columns: black;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}